body {
	background: #000000;
	overflow: hidden;
}

.hype {
	font-family: 'Lobster', cursive;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	transform: translateY(-100%);
	font-size: 8em;
	color: #FFFFFF;
	z-index: 100;
}

.bar {
	position: absolute;
	bottom: 0;
	height: 20px;
	transition: height 0.1s;
	background: #FFFFFF;
	z-index: -2;
}

.overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: -1;
	mix-blend-mode: multiply;
}

@keyframes boom {
	from {
		transform: scale(0.6) rotate(-40deg);
	}
	to {
		transform: scale(0.5) rotate(-40deg);
	}
}

.banana {
	position: absolute;
	top: 12%;
	left: 35%;
	animation: 1.5s linear 0s infinite alternate both running boom;
	z-index: 99;
}

.cube {
	position: absolute;
	top: 50%;
	left: 50%;
	perspective: 20em;
	transform-style: preserve-3d;
	transform: translateX(-50%) translateY(-50%);
	animation: rotate3d 2s linear infinite;
	z-index: 99;
}

.side {
	background: #0000FF;
	margin: 3px black;
	width: 30px;
	height: 30px;
}